*{
    font-family: poppins;
    text-decoration: none;
    list-style-type: none;
    color: #687279;
    font-weight: 500;
    font-size: 15px;
    box-sizing: border-box;
    /* overflow: hidden;
    z-index: 0; */
}
.contact a{
    background-color: hsl(40, 97%, 48%);
    border-radius: 5px;
    padding: 20px;
    color: white;
}
.contact a{
    color: white;
}
.contact a:hover{
    background-color: #0C084C;
    color: white;
}
.atasDesc{
    color: #0C084C;
    font-weight: 600;
    font-size: 18px;
}
.beranda{
    color: #F1A204;
}
.container{
    width: 80%;
    margin: auto;
}
.hero{
    gap: 100px;
    width: 85%;
    background-color: white;
    margin: auto;
}
br{
    line-height: 1px;
}
h3{
    color: #F1A204;
    font-weight: 600;
    font-size: 16px;
    margin-top:5%;
}
h1{
    color: #0C084C;
    font-weight: 600;
    font-size: 50px;
}
span{
    font-weight: 300;
    color: #0C084C;
    font-size: 16px;
}
img .gambarorang{
    padding: 100% 0% 0% 10%;
    margin: auto;
}
.navbar{
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
}
.menu ul{
    display: flex;
    list-style-type: none;
}
.menu ul li{
    margin: 1px 15px 0px 15px;
    text-align: center;
}
a:hover{
    color: #F1A204;
}
.hero{
    display: flex;
    margin: auto;
    width: 80%;
    gap: 100px;
}
.kotakWA{
    display: flex;
    margin: 0px 20px 0px 20px;
}
.daftar{
    color: white;
    background-color: #F1A204;
    border-radius: 5px;
    padding: 5px;
    padding-right:15px;
    cursor: pointer;
}
.daftar i{
    color: white;
    background-color: #F1A204;
    border-radius: 5px;
    padding: 10px;
}
.program{
    color: #0C084C;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    border-width: 2px;
    cursor: pointer;
    margin-right: 10px;
}
.partner{
    width: 85%;
    padding: 0px 0px 0px 7px;
    justify-content: center;
    align-items: center;
}
.partner-head{
    color: #0C084C;
    margin: auto;
    padding: 5% 0% 0% 0%;
    width: 80%;
}
.sponsor{
    display: flex;
    align-items: center;
    /* background-color: #0C084C; */
    width: 80%;
    margin: auto;
    gap: 75px;
}
.Perusahaan{
    color: #0C084C;
    display: flex;
}
.list i{
    color: #F1A204;
}
.deskripsi i {
    color: #F1A204;
}
.deskripsi .kotakWA i {
    color: white;
}
.jurusan i {
    color: white;
}
.mengapa{
    color: #0C084C;
    text-align: center;
    margin-top: 100px;
}
.mengapa1{
    font-size: 47px;
    padding-right: 10px;
}
.kami p{
    text-align: center;
    font-size: 20px;
    color: #0C084C;
    margin-bottom: 75px;
}
.dengan{
    font-size: 18px;
    color: #0C084C;
}
.border{
    color: #687279;
    background-color: #F2F5F7;
    border-radius: 15px ;
    width: 35%;
    transition: 0.3s;
}
.border:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.gambar1{
    width: 100%;
}
.vocational{
    color: black;
    font-size: 25px;
    font-weight: bold;
}
.list{
    text-align: left;
    padding-top: 25px;
    padding-bottom: 80px;
}
.list li{
    font-size: 20px;
    color: #687279;
    padding: 0px 0px 0px 5px;
}
.navbar1{
    display: flex;
    gap: 30px;
}
.border1{
    background-color: antiquewhite;
    color: #687279;
    border-radius: 15px;
    width: 35%;
    transition: 0.3s;
}
.border1:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.gambar2{
    width: 100%;
    justify-content: center;
}
.professional{
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding-top: 25px;
}
.border2{
    color: #687279;
    background-color: #F2F5F7;
    border-radius: 15px ;
    width: 35%;
    transition: 0.3s;
}
.border2:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.gambar3{
    width: 60%;
}
.religious{
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding-top: 25px;
}
.container-gallery{
    max-width: 1100px;
    margin: auto;
}

.filter-buttons{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}
.filter-btn{
    border: 1px solid #ddd;
    background: none;
    color: #555;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
}
.filter-btn.active,
.filter-btn:hover{
    background-color: #ff6b00;
    color: white;
    border-color: #ff6b00;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
    margin-left: 20px;
}
.gambar{
    width: 30%;
    overflow: hidden;
    border-radius: 12px;
    transform: scale(1);
    transition: all 0.5s ease;
}
.gambar img{
    width: 100%;
    height: 100%;
}
.gambar:hover{
    transform: scale(1.05);
}
.text{
    text-align: center;
    color:#0C084C;
    font-size:43px;
    font-family: poppins;
    font-weight: bold;
    margin-top: 100px;
}
.jurusan{
    background-color: white;
    display: flex;
    justify-content: center;
}
.tkj{
    background-color: #F2F5F6;
    font-family: poppins;
    border-radius: 20px;
    margin-top: 15px;
    transition: 0.3s;
}
.tkj:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.tekstkj{
    background-color: #F1A204;
    margin:20px;
    text-align: center;
    border-radius:5px;
    padding:12px 24px;
    color: white;
    font-weight:700;
    font-size: 16px;
    font-family: poppins;
}
.tekaje{
    font-size: 14px;
    margin-left: 10px;
}
.buttontext{
    font-size: 14px;
    text-align: left;
    margin-top: 20px;
    padding: 0px 0px 0px 5px;
    color: #687279;
}
.buttontext i {
    color: #F1A204;
}
.silabus{
    background-color: #0C084C;
    padding: 12px 24px;
    font-size: 16px;
    margin:20px;
    border-radius: 5px;
    color:white;
    text-align: center;
    font-weight: 700;   
}
.dkv{
    background-color: #F2F5F6;
    font-family: poppins;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    transition: 0.3s;
}
.dkv:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.teksdkv{
    background-color: #F1A204;
    margin:20px;
    text-align: center;
    border-radius:5px;
    padding:12px 24px;
    color: white;
    font-weight:700;
    font-size: 16px;
    font-family: poppins;
}
.dekape{
    font-size: 14px;
    margin-left: 10px;
}
.rpl{
    background-color: #F2F5F6;
    font-family: poppins;
    border-radius: 20px;
    margin-left:20px;
    margin-top: 15px;
    transition: 0.3s;
}
.rpl:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.teksrpl{
    background-color: #F1A204;
    margin:20px;
    text-align: center;
    border-radius:5px;
    padding:12px 24px;
    color: white;
    font-weight:700;
    font-size: 16px;
    font-family: poppins;
}
.erpeel{
    font-size: 14px;
    margin-left: 10px;
}
.container-dkv h1{
    color: #0C084C;
    justify-content: center;
    display: flex;
    margin-bottom: 70px;
    font-size: 50px;
}
.container-dkv h1 span {
    font-weight: 300;
}
.navbar2{
    display: flex;
    gap: 100px;
    width: 70%;
    margin: auto;
}
.videodkv img{
    margin-top: 100px;
}
.videodkv iframe{
    margin-top: 135px;
    border-radius: 10px;
    margin-left: -25px;
}
.videodkv1 img{
    margin-top: 100px;
}
.videodkv1 iframe{
    margin-top: 135px;
    border-radius: 10px;
    margin-left: -25px;
}
.videodkv2 img{
    margin-top: 100px;
}
.videodkv2 iframe{
    margin-top: 135px;
    border-radius: 10px;
    margin-left: -25px;
}
.teks {
    font-size: 52px;
}
.navbar2 h1{
    color: #0C084C;
    justify-content: center;
    display: flex;
    margin-top: 115px;
    font-size: 50px;
    margin-left: -15px;
}
.teks1 {
    color: #0C084C;
    text-align: left;
    font-size: 13px;
    margin-top: -45px;
    margin-left: -15px;
}
.listdkv {
    text-align: left;
    font-size: 10px;
    margin-top: 30px;
    margin-left: -30px;
    gap: 10px;
    margin-bottom: 100px ;
}
.listdkv li{
    padding-bottom: 5.25px;
}
.kanan .listdkv i{
    color: #F1A204;
}
.kanan i{
    color: white;
}
.lihat{
    background-color: #0C084C;
    padding: 10px;
    font-size: 16px;
    margin:100px;
    border-radius: 5px;
    color:white;
    text-align: center;
    font-weight: 700;
    margin-top: -45px;
    margin-left: -20px;   
}
.videodkv h2{
    color: #0C084C;
    text-align: left;
    font-size: 35px;
    margin-top: 10px;
    margin-left: -25px;
}
.videodkv p{
    color: #0C084C;
    text-align: left;
    font-size: 15px;
    margin-top: 0.1px;
    margin-left: -25px;
}
.videodkv1 p b{
    color: #0C084C;
    text-align: left;
    font-size: 20px;
    margin-top: 0.1px;
}
.videodkv1 h2{
    color: #0C084C;
    text-align: left;
    font-size: 35px;
    margin-top: 10px;
    margin-left: -25px;
}
.videodkv1 p{
    color: #0C084C;
    text-align: left;
    font-size: 15px;
    margin-top: 0.1px;
    margin-left: -25px;
}
.videodkv2 h2{
    color: #0C084C;
    text-align: left;
    font-size: 35px;
    margin-top: 10px;
    margin-left: -25px;
}
.videodkv2 p{
    color: #0C084C;
    text-align: left;
    font-size: 15px;
    margin-top: 0.1px;
    margin-left: -25px;
}
.videodkv2 p b{
    color: #0C084C;
    text-align: left;
    font-size: 20px;
    margin-top: 0.1px;
}
.teksporto span{
    font-size: 50px;
    color: #0C084C;
}
.teksporto{
    padding-top: 100px;
    text-align: center;
}
.teksporto p{
    color: #0C084C;
    font-size: large;
}
.container-foto{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.foto1 h1{
    color: #0C084C;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    height: 150px;
    /* background-color: #0C084C; */
}
.foto1 p{
    color: black;
    text-align: left;
    padding-top: -100px;
}
.modul{
    background-color: #F1A204;
    border-radius: 8px;
}
.modul p{
    text-align: center;
    color: white;
    font-weight: 600;
    padding: 10px;
}
.modul i{
    color: white;
}
.modul1{
    background-color: #F1A204;
    border-radius: 8px;
}
.modul1 p{
    text-align: center;
    color: white;
    font-weight: 600;
    padding: 10px;
}
.modul1 i{
    color: white;
}
.containerfoto2{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: -45px;
}
.foto2 h2{
    color: #0C084C;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 1px;
}
.foto2 p{
    color: black;
    text-align: left;
    margin-left: 1px;
    font-size: 13px;
}
.foto2 .modul{
    background-color: #F1A204;
    border-radius: 8px;
}
.foto2 .modul p{
    text-align: center;
    color: white;
    font-weight: 600;
    padding: 10px;
}
.foto2 .modul i{
    color: white;
}
.sertifikasi{
    margin-top: 100px;
}
.sertifikasi span{
    font-size: 50px;
}
.berikut{
    color: black;
    text-align: center;
    margin-top: -50px;
}
.containerserti{
    font-size: 25px;
    margin-top: 120px;
}
.containerserti p{
    color: #0C084C;
    margin-left: 120px;
}
.listserti{
    margin-left: 100px;
}
.fotoserti{
    margin-left: 100px;
}
.listserti i{
    color: #F1A204;
}
.BNSP{
    margin-top: 50px;
}
.navbarserti{
    display: flex;
}
.containerserti .text{
    color: #0C084C;
    font-size: 15px;
    text-align: left;
    font-weight: 500;
    margin-top: 15px;
}
.foto2 .modul{
    cursor: pointer;
}
.daftar1{
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    margin-right:100px ;
}
.Raih{
    text-align: center;
    margin-right: 100px;
    margin-top: -35px;
}
.containerdaftar p{
    text-align: left;
    color: #0C084C;
    margin-left: 300px;
    margin-top: 50px;
}
.containerdaftar iframe{
    border-radius: 20px;
    margin-left: 225px;
}
.containerdaftarr{
    display: flex;
}
.daftartengah{
    margin-top: 100px;
    margin-left: 50px;
}
.bergabung{
    background-color: #F1A204;
    border-radius: 20px;
    padding: 70px 40px 70px 40px;
    margin-top: 89.5px;
    margin-left: 50px;
}
.bergabung .dengan{
    color: white;
    font-weight: bold;
    text-align: left;
}
.bergabung .untuk{
    color: white;
    font-weight: 300px;
}
.hubungi{
    background-color: black;
    border-radius: 5px;
    padding: 10px 20px;
    width: 70%;
    margin-top: 30px;
}
.hubungi a {
    color: white;
    font-weight: bold;
}
.hubungi i{
    color: white;
}
@media screen and (max-width: 430px) {
    .container,
    .navbar,
    .logo,
    .menu,
    .beranda,
    .contact,
    .hero,
    .deskripsi,
    .atasDesc,
    .dengan,
    .kotakWA,
    .program,
    .daftar,
    .photo,
    .gambarorang,
    .partner,
    .partner-head,
    .sponsor,
    .Perusahaan,
    .mengapa,
    .mengapa1,
    .kami,
    .navbar1,
    .border,
    .gambar1,
    .vocational,
    .list,
    .border1,
    .professional,
    .gambar2,
    .border2,
    .gambar3,
    .religious,
    .text,
    .jurusan,
    .tkj,
    .tekstkj,
    .tekaje,
    .buttontext,
    .silabus,
    .dkv,
    .teksdkv,
    .dekape,
    .rpl,
    .teksrpl,
    .erpeel,
    .teksporto,
    .container-dkv,
    .navbar2,
    .kanan,
    .teks,
    .teks1,
    .listdkv,
    .lihat,
    .videodkv,
    .container-foto,
    .foto1,
    .modul,
    .container-gallery,
    .filter-buttons,
    .filter-btn,
    .active,
    .gallery,
    .gambar,
    .desain-grafis,
    .desain-3d,
    .fotografi,
    .containerfoto2,
    .foto2,
    .sertifikasi,
    .berikut,
    .containerserti,
    .navbarserti,
    .listserti,
    .BNSP,
    .fotoserti,
    .navbarserti2,
    .text,
    .daftar1,
    .Raih,
    .containerdaftarr,
    .containerdaftar,
    .daftartengah,
    .bergabung,
    .dengan,
    .untuk,
    .hubungi
    {
        flex-direction: column;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .menu ul {
        flex-direction: column;
        gap: 25px;
        left: 0;
        margin: auto;
        padding: 0;
    }
    .contact a{
        padding: 12px;
        margin: auto;
        margin-left: -30px;
    }
    .hero h1{
        font-size: 30px;
    }
    .hero h3{
        font-size: 15px;
    }
    .deskripsi li{
        text-align: left;
    }
    .kotakWA{
        display: flex;
    }
    .program{
        padding-left: 2px;
    }
    .partner-head{
        font-size:12px;
    }
    .Perusahaan{
        font-size: 12px;
    }
    .sponsor{
        gap: 30px;
        margin-top: 30px;
    }
    .sponsor img{
        width: 35%;
        height: 50%;
    }
    .mengapa h1{
        font-size:30px;
        margin-right: 20px;
    }
    .mengapa span{
        font-size: 30px;
        margin-left: 10px;
    }
    .kami p{
        font-size: 15px;
        margin-right: 5px;
    }
    .list{
        text-align: left;
    }
    .list li{
        font-size: 15px; 
    }
    .border{
        width: 95%;
        height: 20%;
        margin-left: 10px;
    }
    .border1{
        width: 95%;
        height: 20%;
        margin-left: 10px;
    }
    .border2{
        width: 95%;
        height: 20%;
        margin-left: 10px;
    }
    .vocational{
        font-size: 20px;
    }
    .professional{
        font-size: 20px;
    }
    .religious{
        font-size: 20px;
    }
    .text{
        font-size: 30px;
    }
    .jawa{
        font-size: 15px;
        margin-right: 5px;
    }
    .tkj{
        margin-left: 10px;
        width: 95%;
        height: 20%;
    }
    .tekstkj{
        width: 90%;
    }
    .tekaje{
        font-size: 13px;
    }
    .dkv{
        width: 95%;
        height: 20%;
        margin-left: 10px;
    }
    .teksdkv{
        width: 90%;
    }
    .dekape{
        font-size: 13px;
    }
    .rpl{
        width: 95%;
        height: 20%;
        margin-left: 10px;
    }
    .teksrpl{
        width: 90%;
    }
    .erpeel{
        font-size: 13px;
    }
    .buttontext li{
        text-align: left;
        font-size: 13px;
    }
    .silabus{
        width: 90%;
    }
    .teksporto h1{
        font-size: 30px;
    }
    .teksporto span{
        font-size: 30px;
    }
    .teksporto p{
        font-size: 15px;
    }
    .teks{
        font-size: 30px;
    }
    .kanan h1{
        font-size: 30px;
        margin-right: 70px;
    }
    .teks1{
        margin-left: 5px;
    }
    .listdkv li{
        text-align: left;
        margin-left: 30px;
        font-size: 12px;
    }
    .lihat{
        width: 95%;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .videodkv iframe{
        width: 355px;
        height: 200px;
        margin-left: 1px;
        margin-top: -50px; 
    }
    .videodkv h2{
        font-size: 18px;
        text-align: center;
        margin-right: 30px;
    }
    .videodkv p{
        font-size: 13px;
        text-align: center;
        margin-right: 30px;
    }
    .videodkv p b{
        font-size: 15px;
        margin-right: 150px;
    }
    .foto1 img{
        width: 192px;
        height: 190px;
    }
    .foto1 h1{
        font-size: 15px;
        margin-left: 15px;
    }
    .foto1 p{
        font-size: 15px;
        margin-left: 15px;
        margin-top: -60px;
    }
    .modul{
        width: 95%;
        margin-left: 10px;
    }
    .modul p{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .modul1{
        width: 95%;
        margin-left: 10px;
    }
    .modul1 p{
        margin-top: 40px;
        margin-bottom: 130px;
    }
    .videodkv1 iframe{
        width: 355px;
        height: 200px;
        margin-left: 1px;
        margin-top: -50px; 
    }
    .videodkv1 h2{
        font-size: 18px;
        text-align: center;
        margin-right: 150px;
    }
    .videodkv1 p{
        font-size: 13px;
        text-align: center;
        margin-right: 115px;
    }
    .videodkv1 p b{
        font-size: 15px;
        margin-right: 20px;
    }
    .filter-buttons{
        width: 95%;
        margin-left: 5px;
    }
    .videodkv2 img{
        width: 380px;
        height: 220px;
        margin-bottom: 100px;
        margin-top: -20px;
    }
    .foto2 img{
        margin-top: -20px;
    }
    .foto2 h2{
        font-size: 20px;
        margin-left: 40px;
    }
    .foto2 p{
        font-size: 15px;
        margin-left: 40px;
    }
    .modul{
        width: 95%;
    }
    .modul p{
        margin-left: 10px;
    }
    .sertifikasi h1{
        font-size: 30px;
    }
    .sertifikasi span{
        font-size: 30px;
    }
    .navbarserti .teks{
        text-align: left;
        margin-left: -75px;
    }
    .navbarserti2 .text{
        text-align: left;
        margin-left: 45px;
    }
    .listserti li{
        text-align: left;
        font-size: 13px;
    }
    .navbarserti2 .listserti li{
        text-align: left;
        font-size: 13px;
        margin-left: -75px;
    }
    .BNSP{
        text-align: left;
        margin-top: -2px;
    }
    .fotoserti img{
        width:285px;
        height:275px;
        margin-left: -210px;
        margin-top: 20px;
    }
    .gallery{
        width: 430px;
        border-radius: 10px;
    }
    .berikut{
        font-size: 20px;
    }
    .containerdaftar p{
        text-align: left;
        margin-left: 70px;
    }
    .containerdaftar iframe{
        margin-left: -10px;
    }
    .daftartengah img{
        margin-left: -120px;
        margin-top: -50px;
    }
    .bergabung{
        margin-left: 50px;
        width: 80%;
        margin-top: 50px
    }
    .bergabung .untuk{
        text-align: start;
    }
    .daftar1{
        font-size: 30px;
        text-align: start;
        display: flex;
    }
    .Raih{
        margin-top: 5px;
    }
}
.footer{
    background-color: lightgray;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
    padding-left: 100px;
    width: 1900px;
    margin-left: -200px;
    margin-bottom: -15px;
}